<div class="goal-form">
  <h2>Add New Goal</h2>
  <form [formGroup]="goalForm" (ngSubmit)="onSubmit()">
    <div class="row d-flex justify-content-between">
      <div class="form-group col-md-3">
        <label for="goalMonth">Select Month</label>
        <select id="goalMonth" formControlName="goalMonth" class="form-control">
          @for(month of months; track month){
          <option [value]="month">{{ month }}</option>
          }
        </select> 
      </div>
      <div class="form-group col-md-3">
        <label for="goalTitle">Goal Title</label>
        <input 
          type="text" 
          id="goalTitle" 
          formControlName="goalTitle" 
          placeholder="Enter your goal title" 
          class="form-control" 
        >
      </div>
      <div class="form-group col-md-5">
        <label for="goalText">Goal Description</label>
        <textarea 
          id="goalText" 
          formControlName="goalText" 
          placeholder="Enter your goal description" 
          class="form-control goal-input" 
          (input)="checkWordLimit()"
          rows="2"
        ></textarea>
        <small>{{ wordCount }}/{{ wordLimit }} words</small>
      </div>
<!-- 
      <div class="form-group">
        <label for="goalState">State</label>
        <select
          id="goalState"
          formControlName="goalState"
          class="form-control"
        >
          <option value="active">Active</option>
          <option value="archived">Archived</option>
        </select>
      </div> -->
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="wordCount > wordLimit || goalForm.invalid">Add Goal</button>
  </form>
</div>