@use '../../../styles' as *;
.goal-form {
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-color);

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .goal-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
  }

  .form-control {
    background-color: var(--fc-bg-color);

    &:focus {
      box-shadow: var(--fc-box-shadow-color);
      border-color: var(--fc-f-border-color);
    }
  }
}